.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  font-size: 16px;
  border: none;
  padding: 8px 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: var(--primary);
  outline: 2px solid gray;
}
.translateButton {
  width: 100%;
  padding: 12px 16px;
}
