.header {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 20px 0;
}
.header img {
  height: 80px;
}
.header h1 {
  margin-top: 10px;
  font-size: 50px;
}

@media (max-width: 840px) {
  .header img {
    height: 60px;
  }
  .header h1 {
    font-size: 40px;
  }
}
@media (max-width: 590px) {
  .header img {
    height: 40px;
  }
  .header h1 {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  .header {
    gap: 12px;
  }
  .header img {
    height: 30px;
  }
  .header h1 {
    font-size: 20px;
  }
}
